Routing/Connected Services/WPS_JCDecaux/StationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStationService_GetStationStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationStatus" />
  </wsdl:message>
  <wsdl:message name="IStationService_GetStationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IStationService_GetStationIsAvailableForPickUp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationIsAvailableForPickUp" />
  </wsdl:message>
  <wsdl:message name="IStationService_GetStationIsAvailableForPickUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationIsAvailableForPickUpResponse" />
  </wsdl:message>
  <wsdl:message name="IStationService_GetStationIsAvailableForDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationIsAvailableForDeposit" />
  </wsdl:message>
  <wsdl:message name="IStationService_GetStationIsAvailableForDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationIsAvailableForDepositResponse" />
  </wsdl:message>
  <wsdl:portType name="IStationService">
    <wsdl:operation name="GetStationStatus">
      <wsdl:input wsam:Action="http://tempuri.org/IStationService/GetStationStatus" message="tns:IStationService_GetStationStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IStationService/GetStationStatusResponse" message="tns:IStationService_GetStationStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationIsAvailableForPickUp">
      <wsdl:input wsam:Action="http://tempuri.org/IStationService/GetStationIsAvailableForPickUp" message="tns:IStationService_GetStationIsAvailableForPickUp_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IStationService/GetStationIsAvailableForPickUpResponse" message="tns:IStationService_GetStationIsAvailableForPickUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationIsAvailableForDeposit">
      <wsdl:input wsam:Action="http://tempuri.org/IStationService/GetStationIsAvailableForDeposit" message="tns:IStationService_GetStationIsAvailableForDeposit_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IStationService/GetStationIsAvailableForDepositResponse" message="tns:IStationService_GetStationIsAvailableForDeposit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStationService" type="tns:IStationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStationStatus">
      <soap:operation soapAction="http://tempuri.org/IStationService/GetStationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationIsAvailableForPickUp">
      <soap:operation soapAction="http://tempuri.org/IStationService/GetStationIsAvailableForPickUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationIsAvailableForDeposit">
      <soap:operation soapAction="http://tempuri.org/IStationService/GetStationIsAvailableForDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StationService">
    <wsdl:port name="BasicHttpBinding_IStationService" binding="tns:BasicHttpBinding_IStationService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>